<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý Giải bóng đá Mini</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:fragment="header-tournament">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Quản lý giải đấu</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/tournaments/add}">Thêm giải đấu</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
