<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="tournamentHeader(tournament)">
        <div class="d-flex align-items-center justify-content-between mt-4 mb-3">
            <h2 th:text="'Giải: ' + ${tournament.name}"></h2>
            <div>
                <a th:href="@{'/tournaments/' + ${tournament.id} + '/matches'}" class="btn btn-warning me-2">Xem Lịch Thi Đấu</a>
                <a th:href="@{'/tournaments/' + ${tournament.id} + '/standings'}" class="btn btn-success me-2">Xem Kết Quả & BXH</a>
                <form th:action="@{'/tournaments/' + ${tournament.id} + '/generate-schedule'}" method="post" class="d-inline">
                    <button class="btn btn-primary" type="submit">⚽ Tạo Lịch Thi Đấu</button>
                </form>
                 <a href="/" class="btn btn-arrow-right-square-fill">⬅️</a>
            </div>
        </div>
        
        
    </div>
    
</body>
</html>
